/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #616161;
}

a {
  color: #616161;
  text-decoration: none;
}

a:hover {
  color: #ff7341;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  background: #fff;
}
.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
}
.header .logo {
  line-height: 0;
}
.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #616161;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
  line-height: 170%;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #ff7341;
}
.navbar .nav-icon {
  font-size: 22px;
  padding: 10px;
  margin: 0px 12px;
  margin-left: 30px;
  border-radius: 4px;
  color: #242424;
}

.navbar .nav-icon:hover {
  background-color: rgba(255, 116, 65, 0.2);
  border-radius: 150px;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #242424;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #ff7341;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(254, 247, 239, 0.8);
  transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fef7ef;
  overflow-y: auto;
  transition: 0.3s;
  text-align: center;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #616161;
  display: block;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #ff7341;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  background: #fef7ef;
  background-size: cover;
}
.hero p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #616161;
  margin-top: 80px;
}
.hero h1 {
  font-family: "EB Garamond";
  font-weight: 500;
  font-size: 56px;
  line-height: 130%;
  text-transform: uppercase;
  color: #242424;
}
.hero h1 span {
  color: #ff7341;
}
.hero h2 {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  color: #616161;
}
.hero .btn-get-shop {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  transition: 0.5s;
  color: #fff;

  background: linear-gradient(93.06deg, #ff7341 0%, #ff4b77 100%);
  border-radius: 1px;
}
.hero .btn-get-shop span {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 25px;
}

.hero .btn-get-shop:hover {
  background: linear-gradient(150deg, #ff7341 0%, #ff4b77 100%);
}
.hero .hero-img {
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
@media (max-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero h2 {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 0px 0;
    text-align: center;
  }
  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }
  .hero .hero-img img {
    width: 80%;
  }
  .hero .hero-img {
    position: relative;
  }
}
@media (max-width: 768px) {
  .hero {
    text-align: center;
    height: auto;
    align-items: flex-start !important;
  }
  .hero p {
    margin-top: 0px;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero h2 {
    font-size: 18px;
  }
  .hero .hero-img img {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# card
--------------------------------------------------------------*/

.card-section {
  padding: 60px 0px;
}

.card-section .card {
  background-color: #fef7ef;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  border: none;
}

.card-section .card button span {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #242424;
}
.card-section .card button {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin-bottom: 8px;
}

.card-section .card p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}

.modal {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(13px);
}
.modal .modal-dialog {
  background-color: transparent;
}
.modal .modal-content {
  background: #fef7ef;
  width: 90%;
}
.modal .modal-header {
  border-bottom: none;
}
.modal .modal-content .modal-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #242424;
}

.modal .modal-content .modal-body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}

/* width */
.modal-content ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.modal-content ::-webkit-scrollbar-track {
  background: #feeedc;
}

/* Handle */
.modal-content ::-webkit-scrollbar-thumb {
  background: #ffd29e;
  border-radius: 50px;
}

/* Handle on hover */
.modal-content ::-webkit-scrollbar-thumb:hover {
  background: #ffd29e;
}

@media (max-width: 1024px) {
  .card-section .card {
    height: 150px;
  }
}
@media (max-width: 991px) {
  .card-section .card {
    margin-bottom: 20px;
  }
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  margin: 50px 0px;
}
.contact h3 {
  font-family: "EB Garamond";
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;

  color: #242424;
}
.contact h3 span {
  color: #ff7341;
}

.contact p {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 18px;
  line-height: 170%;
  color: #616161;
}

.contact .php-email-form {
  height: 100%;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  color: #bcbcbc;
  border: none;
  border-bottom: #242424 1px solid;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #ff7341;
}
.contact .php-email-form input {
  padding: 10px 0px;
}
.contact .php-email-form textarea {
  padding: 12px 0px;
}
.contact .php-email-form button[type="submit"] {
  background: linear-gradient(93.06deg, #ff7341 0%, #ff4b77 100%);
  border-radius: 1px;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  width: 100%;
}
.contact .php-email-form button[type="submit"]:hover {
  background: linear-gradient(180deg, #ff7341 0%, #ff4b77 100%);
  border-radius: 1px;
}

@media (max-width: 768px) {
  .contact {
    margin: 30px 0px;
  }
  .contact h3 {
    font-size: 32px;
    text-align: center;
  }

  .contact p {
    text-align: center;
  }
}
